<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% include "breadcrumbs" %}


<div id="content">

  <div id="intro" class="intro">
    <div class="text-content col-md-6">
      {{ page.basic.content }}
    </div>
    <div class=""><img src=""/></div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}


  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
