{% include "breadcrumbs" %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>


  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

            <div class="participate">

              {% if site.has_button1? or site.has_button2? or site.has_button3? %}

              <div class="participate-button-wrap">

                {% if site.has_button1? %}
                <a class="button" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
                {% endif %}

                {% if site.has_button2? %}
                <a class="button" href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a>
                {% endif %}

                {% if site.has_button3? %}
                <a class="button" href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a>
                {% endif %}

              </div>


              <div class="participate-form-wrap">

                {% if site.has_signup_page? %}
                {% if request.sorta_logged_in? %}
                <div class="participate-form">
                  <h5>Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
                  {% if site.show_public_profiles? %}
                    <a href="{{ request.current_signup.profile_url }}">public profile</a>,
                  {% endif %}
                  <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
                  <a href="{{ request.current_signup.logout_url }}">sign out</a>.</h5>
                </div>
                {% else %}
                <h5>Sign up to get the latest updates</h5>
                <div class="participate-form">{% include "signup_form" with site.signup_page %}</div>
                {% endif %}
                {% endif %}

              </div>

            </div>

            {% endif %}
